.cowin-vaccine-result-container{
    .cowin-no-vaccine-result-card{
        text-align: center;
        display: flex;
        align-items: center;
    }
    .cowin-no-vaccine {
        margin: 20px;
    }
    .cowin-no-vaccine-card{
        padding: 20px;
    }
}
.cowin-list-view-container{
    height: 100%;
    width: 100%;
}