<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Cowin
      </ion-title>
    </ion-toolbar>
</ion-header>
<div class="cowin-app-common-container cowin-vaccine-app">
    <section class="cowin-app-common-pin-section">
        <mat-card class="mat-elevation-z8 cowin-pin-card">
            <mat-card-header>
                <h5 class="cowin-header">Vaccine Availabilty</h5>
            </mat-card-header>
            <mat-divider [inset]="true" class="cowin-app-divider"></mat-divider>
            <mat-card-content>
                <section class="cowin-pin-form-section">
                    <form [formGroup]="pinForm" (ngSubmit)="submitFormHandler()">
                        <ion-item class="cowin-pin-input ion-no-padding">
                            <ion-label position="stacked">PIN</ion-label>
                            <ion-input placeholder="Enter Pincode" type="number" formControlName="pin" #pin></ion-input>
                            <ion-icon class="pin-outline" name="pin-outline" slot="end"></ion-icon>
                        </ion-item>

                        <ion-item class="cowin-pin-input ion-no-padding">
                            <ion-label position="floating">DATE</ion-label>
                            <ion-datetime formControlName="date" displayFormat="DD-MMM-YY" placeholder="Select Date"></ion-datetime>
                            <ion-icon class="calendar-outline" name="calendar-outline" slot="end"></ion-icon>
                        </ion-item>
                        <ion-button [disabled]="pinForm.status === 'INVALID'" type="submit" class="cowin-pin-button">SEARCH</ion-button>
                    </form>
                </section>
            </mat-card-content>
        </mat-card>
    </section>
</div>


