ion-item{
    --ion-background-color:#fefbf7;
    margin: 10px;
}
.cowin-app-info-label {
    font-size: 12px
    
}
.cowin-info-label {
    display: inline-block;
    width: 60px;
    font-weight: 500;
}

